<div class="container">
  <h1>Welcome to our Flashcard Game</h1>

  <h2>Login or Sign Up to play</h2>

  <h3>Login</h3>
  <form action="/sessions" method="post">
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="password" name="user[password]">
    <input type='submit' value='Login'>
  </form>
  <h3> New user? </h3>

  <form method="get" action="/signup">
  <input type='submit' value='SignUp'>
  </form>
  </div>
