  <h1>Flashcard Game!</h1>

  <h2>Login or Sign Up to play</h2>

  <form action="/sessions" method="post">
      Email: <input class="form_input" type="text" name="user[email]"><br>
      <span id='password_box'>Password: <input class="form_input" type="password" name="user[password]"></span><br><br>
      <input type='submit' value='Login'>
  </form>
  <br>
  
  <ul>
    <li>
      <h3> New user? </h3>
    </li>

    <li>
      <form method="get" action="/signup">
      <input type='submit' value='Sign Up'>
    </li>
  </ul>
  </form>

