  <%if !logged_in? %>
    <h1>Flashcard Game!</h1>

    <h2>Login or Sign Up to play</h2>

    <form action="/sessions" method="post">
        Email: <input class="form_input" type="text" name="user[email]"><br>
        <span id='password_box'>Password: <input class="form_input" type="password" name="user[password]"></span><br><br>
        <input type='submit' value='Login'>
    </form>
    <br>
    
    <ul>
      <li>
        <h3> New user? </h3>
      </li>

      <li>
        <form method="get" action="/signup">
        <input type='submit' value='Sign Up'>
      </li>
    </ul>
    </form>
<%else%>
  <h1>Profile Page</h1>
  <%= @user.email %>
  <% if current_user %><br>
    <a href="/" method="delete">Logout</a><br>
  <% end %>
  <br>
  <h2 id='deck_headline'>Decks</h2>
  <ul>
    <% Deck.all.each do |deck| %>
      <li><a href="rounds/new/?deck=<%= deck.id %>"><%= deck.deck_type %></a></li>
    <% end %>    
  </ul>
<%end%>
   


