  <h1>Sign Up</h1>
  <form id = "signup" method="post" action="/signup">
  Name:  <input class="form_input" type="text" name="user[name]"><br>
  <span id="email_box">Email: <input class="form_input" type="text" name="user[email]"></span><br>
  <span id="password_box">Password: <input class="form_input" type="password" name="user[password]"></span><br>
  <br>
  <input type='submit' value='Submit'>
   
  </form>
